# --- Python & Django ---
__pycache__/
*.py[cod]
*$py.class
*.log
db.sqlite3
media/

# --- Environment & Keys ---
.env
.venv
venv/
env/
.env.local

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db